h2{
    font-size: 1.75em; /* 28/16=1.75 */
    background: #C0262c url(..multimidia/back-bolinha.gif) repeat top center;
    color:#fff;
    letter-spacing: .1em;
    padding: 7px;
    width: 316px;
}

h1{
    color: #C0262c;
    border-bottom: #C0262c solid thin;
    padding-bottom: 7px;
}

p{
    font-size: 1.1em;
    line-height: 1.3;
    text-align: justify;
}

p:first-line {
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

hr{
    border-color: #C0262c;
}

/* Pagina produtos - tabela */

#produtos table {
    width: 600px;
    margin: 50px auto 30px;
    text-align: center;
    border-collapse: collapse;

}

#produtos th, #produtos td {
    border: #999 solid 1px;
    padding: 5px;

}

table {
    border-collapse: collapse;
}
tr{
    border-top: solid 3px #777;
    border-bottom: solid 3px #777;
}

th, td {
        padding: 7px;
}

#produtos caption {
    background-color: #999;
    color: #fff;
    padding: 15px 0;
    font-size: 1.5em;
}

caption{
    caption-side: bottom;
    background-color: #777;
    color: #fff;
    padding: 10px 0;
}

#produtos td[coldspan] {
    font-style: italic;
    font-weight: bold;
    color: #999;

}

#produtos tr:hover {
    background-color: #feff76;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}
